In [ ]:
import numpy as np
import pandas as pd

customers = pd.read_csv("customer_behavior_analytcis.csv", index_col="customer_id")
customers.head()

,total_purchases,avg_cart_value,total_time_spent,product_click,discount_counts
customer_id,,,,,
CM00000,7.0,129.34,52.17,18.0,0.0
CM00001,22.0,24.18,9.19,15.0,7.0
CM00002,2.0,32.18,90.69,50.0,2.0
CM00003,25.0,26.85,11.22,16.0,10.0
CM00004,7.0,125.45,34.19,30.0,3.0

In [83]:
features = ['total_purchases', 'avg_cart_value', 'total_time_spent', 'product_click', 'discount_counts']
customers.isnull().sum()

total_purchases     20
avg_cart_value      20
total_time_spent     0
product_click       20
discount_counts      0
dtype: int64

In [84]:
customers.shape

(999, 5)

In [85]:
customers = customers.dropna(subset = features)

In [86]:
data = customers[features].copy()

In [87]:
data.head()

,total_purchases,avg_cart_value,total_time_spent,product_click,discount_counts
customer_id,,,,,
CM00000,7.0,129.34,52.17,18.0,0.0
CM00001,22.0,24.18,9.19,15.0,7.0
CM00002,2.0,32.18,90.69,50.0,2.0
CM00003,25.0,26.85,11.22,16.0,10.0
CM00004,7.0,125.45,34.19,30.0,3.0

In [88]:
data = (data - data.min()) / (data.max() - data.min()) * 9 + 1
data.head()

,total_purchases,avg_cart_value,total_time_spent,product_click,discount_counts
customer_id,,,,,
CM00000,2.96875,6.655216,4.691805,2.826087,1.000000
CM00001,7.18750,1.661073,1.319355,2.434783,4.000000
CM00002,1.56250,2.041000,7.714298,7.000000,1.857143
CM00003,8.03125,1.787874,1.478640,2.565217,5.285714
CM00004,2.96875,6.470476,3.280994,4.391304,2.285714

In [89]:
from sklearn.cluster import KMeans

In [90]:
kmeans = KMeans(3)
kmeans.fit(data)

/usr/local/lib/python3.10/dist-packages/sklearn/cluster/_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

KMeans(n_clusters=3)

In [91]:
centroids = kmeans.cluster_centers_
pd.DataFrame(centroids, columns=features).T

                         0         1         2
total_purchases   6.543903  2.367664  3.861827
avg_cart_value    1.956443  2.841215  7.509443
total_time_spent  1.967793  7.669159  3.759192
product_click     2.427581  6.963017  3.073311
discount_counts   5.259422  1.441638  1.845275

1. Cluster 0 => Bargain Hunters
2. Cluster 1 => Window Shoppers
3. Cluster 2 => High Spenders

In [92]:
data["cluster"] = kmeans.labels_

In [93]:
data

,total_purchases,avg_cart_value,total_time_spent,product_click,discount_counts,cluster
customer_id,,,,,,
CM00000,2.96875,6.655216,4.691805,2.826087,1.000000,2
CM00001,7.18750,1.661073,1.319355,2.434783,4.000000,0
CM00002,1.56250,2.041000,7.714298,7.000000,1.857143,1
CM00003,8.03125,1.787874,1.478640,2.565217,5.285714,0
CM00004,2.96875,6.470476,3.280994,4.391304,2.285714,2
...,...,...,...,...,...,...
CM00994,2.40625,3.582555,6.302703,7.000000,1.428571,1
CM00995,2.40625,3.759221,6.515344,6.086957,1.428571,1
CM00996,6.06250,1.440241,2.855711,2.826087,4.428571,0
CM00997,2.12500,1.888555,6.268963,7.913043,2.285714,1
CM00998,9.15625,2.378661,1.382127,2.565217,5.714286,0

**Bargain Hunters**

In [94]:
bargain_hunters = customers[data.cluster == 0]
bargain_hunters

,total_purchases,avg_cart_value,total_time_spent,product_click,discount_counts
customer_id,,,,,
CM00001,22.0,24.18,9.19,15.0,7.0
CM00003,25.0,26.85,11.22,16.0,10.0
CM00006,23.0,43.48,13.11,12.0,10.0
CM00007,27.0,46.58,7.20,14.0,7.0
CM00008,9.0,35.10,9.24,25.0,8.0
...,...,...,...,...,...
CM00976,17.0,36.55,18.53,17.0,13.0
CM00980,17.0,37.84,7.35,9.0,12.0
CM00984,13.0,44.48,19.81,19.0,7.0
CM00996,18.0,19.53,28.77,18.0,8.0
CM00998,29.0,39.29,9.99,16.0,11.0

**Window Shoppers**

In [95]:
window_shoppers = customers[data.cluster == 1]
window_shoppers

,total_purchases,avg_cart_value,total_time_spent,product_click,discount_counts
customer_id,,,,,
CM00002,2.0,32.18,90.69,50.0,2.0
CM00010,5.0,62.60,77.20,49.0,2.0
CM00011,6.0,60.77,78.66,53.0,4.0
CM00020,4.0,37.21,97.61,50.0,3.0
CM00023,5.0,53.25,118.66,43.0,0.0
...,...,...,...,...,...
CM00991,8.0,75.67,110.00,48.0,1.0
CM00993,5.0,46.41,79.97,60.0,1.0
CM00994,5.0,64.64,72.70,50.0,1.0
CM00995,5.0,68.36,75.41,43.0,1.0
CM00997,4.0,28.97,72.27,57.0,3.0

**High Spenders**

In [96]:
high_spenders = customers[data.cluster == 2]
high_spenders

,total_purchases,avg_cart_value,total_time_spent,product_click,discount_counts
customer_id,,,,,
CM00000,7.0,129.34,52.17,18.0,0.0
CM00004,7.0,125.45,34.19,30.0,3.0
CM00005,12.0,199.56,43.39,20.0,3.0
CM00012,13.0,105.96,40.82,21.0,6.0
CM00014,13.0,100.00,28.40,20.0,2.0
...,...,...,...,...,...
CM00977,9.0,134.10,33.37,23.0,0.0
CM00982,10.0,158.80,58.46,26.0,0.0
CM00983,12.0,104.56,56.60,26.0,1.0
CM00990,9.0,102.40,33.65,22.0,1.0
CM00992,6.0,194.09,48.20,19.0,2.0

In [105]:
submission = data[["cluster"]]
submission

             cluster
customer_id
CM00000            2
CM00001            0
CM00002            1
CM00003            0
CM00004            2
...              ...
CM00994            1
CM00995            1
CM00996            0
CM00997            1
CM00998            0

[979 rows x 1 columns]

In [106]:
submission['cluster'] = submission['cluster'].replace({
    0: 'Bargain Hunter',
    1: 'Window Shopper',
    2: 'High Spender'
})
submission

<ipython-input-106-d0de88e16a58>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['cluster'] = submission['cluster'].replace({

                    cluster
customer_id
CM00000        High Spender
CM00001      Bargain Hunter
CM00002      Window Shopper
CM00003      Bargain Hunter
CM00004        High Spender
...                     ...
CM00994      Window Shopper
CM00995      Window Shopper
CM00996      Bargain Hunter
CM00997      Window Shopper
CM00998      Bargain Hunter

[979 rows x 1 columns]

In [107]:
submission.to_csv('predictions.csv')